{% extends 'base.html.twig' %}

{% block title %}Votre planning{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% block flash %}
        {% for flash_message in app.session.flashbag.get('avis') %}
            <div class="container alert alert-info" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endblock %}
    
    <div data-entry-ideleve={{app.user.id}}></div>

    <div class="row calendrier">
        <div class="center-block col-md-10 col-sm-10 col-xs-12">
            {% include '@Calendar/calendar.html' %} 
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/calendarEleve.js"></script>
{% endblock %}
