.wrapper{
    width: 1000px;
    min-height: 100vh;
    margin: auto;
}

h1{
    text-align: center;
}

.__flexBetween{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.navLeft{
    display: flex;
}

.navRight{
    display: flex;
} 

.testCouleur{
    color: #18BC9C;
}

.topnav .highlightNav{
    background-color:#F75938;
}

.up{
    display:flex;
}
.profile_pic {
    height: 150px;
    width: 150px;
}

.infosEtDescription{
    width:60%;
    display: flex;
    flex-direction: column;
}

.infosEtPhoto{
    width:60%;
    display: flex;
}

.creneaux{
    width:40%;
}
.infos{
    display: flex;
}

.description{
    text-align: justify;
    overflow-y: scroll;
}

.down{
    display: flex;
}

.avis{
    width: 60%;
}

.avis h2{
    text-align: center;
}

.coursProf{
}

.coursEleve{
    
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .activeAccordeon, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '+'; /* Unicode character for "plus" sign (+) */
    /* content: '\02795'; Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .activeAccordeon:after {
    content: "-"; /* Unicode character for "minus" sign (-) */
    /* content: "\2796"; Unicode character for "minus" sign (-) */
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  /* margin: auto; */
  width: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.upPp{
    display:flex;
    flex-direction: row;
}

td a { 
  display: block; 
}

td a:hover{
  text-decoration: none;
}

.fa-comments-alt{
  margin-right: 30px;
}

.conversation, .test{
	display: flex;
	flex-direction: column;
}

.messageEnvoi{
	background-color: rgb(224, 224, 230);
	border-radius: 25% 10%;
	margin-left: auto;
	padding: 1.5em;

}

.messageRecu{
	background-color: rgb(255, 235, 58);
	border-radius: 10% 25%;
	margin-right: auto;
	padding: 1.5em;
}

.nvMessage{
	background-color: red;
	border-radius: 10% 25%;
	margin-right: auto;
	padding: 1.5em;
}

header .navbar-nav li > a {
  transition: color .4s;
}

.activeNav{
  color: #233E50 !important;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.registerForm{
  margin: auto;
}

.containerSearch {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.photoCours {
  width: 100%;
}

.courseSearch {
  display: flex;
  flex-direction: column;
  width: 26%;
  color: black;
}

.courseSearch:hover{
  text-decoration: none;
}

/* * {
  border: 2px solid black;
} */

.displayCourse{
  width: 1000px;
  display: flex;
}

.displayCourseLeft{
  width: 40%;
  /* width: 40em; */
  flex-direction: column;
}

.photoAndInfos{
  display: flex;
  width: 100%;
}
.displayCourseRight{
  width: 60%;
  /* width: 40em; */
  flex-direction: column;
}