{% extends 'base.html.twig' %}

{% block title %}Bienvenue {{ app.user ~ " !"}}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div data-entry-idprof={{app.user.id}}></div>
        
    <div class="row calendrier">
        <div class="center-block col-md-10 col-sm-10 col-xs-12">

            {% include '@Calendar/calendar.html' %} 
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/calendarProf.js"></script>
{% endblock %}
