{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div data-entry-idprof={{app.user.id}}>
    <a class="btnA" href="#" type="button" data-btn="up">Haut</a>
    <a class="btnA" href='#' type="button" data-btn="down">Bas</a>

    <div class="calendarProf">
        {% include '@Calendar/calendar.html' %} 
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/js/calendarProf.js"></script>
{% endblock %}
