{% extends 'base.html.twig' %}

{% block title %}Mes disponibilites{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div data-entry-idprof={{app.user.id}}>
    <!-- <a class="btnA" href="#" type="button" data-btn="up">Haut</a>
    <a class="btnA" href='#' type="button" data-btn="down">Bas</a> -->
    <div id='external-events'>
        <p>
          <strong>Draggable Events</strong>
        </p>
        <div class='fc-event'>My Event 1</div>
    </div>

    <div id="calendarContainer">
        {% include '@Calendar/calendar.html' %} 
    </div>

    {#<a id="boutton"><button type="button">#}
    <a id="boutton" href="{{ path('changements_dispos', {'id': app.user.id}) }}"><button type="button">
        Valider mes disponibilites
    </button></a>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/js/disposProf.js">
    </script>
    <script>

        //<i class="fas fa-times"></i>

        var plageHoraire = [];
        var tabJourHoraire = {};
        var btn = document.getElementById("boutton");
        btn.addEventListener('click', function(){
            var tabA = Array.from(document.getElementsByClassName('fc-time-grid-event'));
            var jour=null;

            tabA.forEach(function(e) {
                var test = e.firstChild.childNodes[0].attributes[2].value.split(' - ');

                plageHoraire.push(test[0].replace(':00',''));
                plageHoraire.push(test[1].replace(':00',''));

                if (jour == e.fcSeg.start.toString().substr(0,3));
                else {
                    jour = e.fcSeg.start.toString().substr(0,3);
                    tabJourHoraire[jour]= [];
                }

                tabJourHoraire[jour].push(plageHoraire);

                plageHoraire = [];
                
                })

                document.cookie = 'dispos='+JSON.stringify(tabJourHoraire)+'; path=/';
         
        })

        </script>
{% endblock %}

