{% extends 'base.html.twig' %}

{% block title %}Mes disponibilites{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div data-entry-idprof={{app.user.id}}></div>

    <div class="row calendrier">
        <div class="center-block col-md-6 col-sm-9 col-xs-12">
            <div id='external-events'>
                <p>
                    <strong>Déplacez le bouton 'Nouveau créneau' ci-dessous sur le calendrier afin de créer un nouveau créneau.</br>
                            Vous pouvez également déplacer, modifier ou supprimer (en cliquant dessus) un créneau sur le calendrirer.
                    </strong>
                </p>
                <div class='fc-event'>Nouveau créneau</div>
            </div>
        </div>
        <div class="center-block col-md-10 col-sm-10 col-xs-12">
            {% include '@Calendar/calendar.html' %} 
        </div>
    </div>

    {#<a id="boutton"><button type="button">#}
    <a id="boutton" href="{{ path('changements_dispos') }}"><button type="button">
        Valider mes disponibilites
    </button></a>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/disposProf.js">
    </script>
    <script>
        var plageHoraire = [];
        var tabJourHoraire = {};
        var btn = document.getElementById("boutton");
        btn.addEventListener('click', function(){
            var tabA = Array.from(document.getElementsByClassName('fc-time-grid-event'));
            var jour=null;

            tabA.forEach(function(e) {
                var test = e.firstChild.childNodes[0].attributes[2].value.split(' - ');

                plageHoraire.push(test[0].replace(':00',''));
                plageHoraire.push(test[1].replace(':00',''));

                if (jour == e.fcSeg.start.toString().substr(0,3));
                else {
                    jour = e.fcSeg.start.toString().substr(0,3);
                    tabJourHoraire[jour]= [];
                }

                tabJourHoraire[jour].push(plageHoraire);

                plageHoraire = [];
                
                })

                document.cookie = 'dispos='+JSON.stringify(tabJourHoraire)+'; path=/';
        })
    </script>
{% endblock %}

