{% extends 'base.html.twig' %}

{% block body %}

<h2 class="titre" data-test="messagerie">Messagerie</h2>

{# {% set listEleves = [] %} #}
{# {% set idEleve = null %} #}

<table class="table table-hover">
    <thead>
        <tr>
            {# <th scope="col">Elève</th> #}
            {# <th scope="col">Ouvrir la conversation</th> #}
        </tr>
    </thead>
    <tbody>
        {% for message in msgNonLus %}
            {# {% set listEleves = listEleves|merge([idEleve]) %} #}
            <tr>
                <td><a href="{{ path('conversation_prof', { 'idProf':app.user.id, 'idEleve':message.msg.eleve.id }) }}"><i class="fal fa-comments-alt" style="font-size: 2.5em"></i><strong>{{ message.msg.eleve }} </strong> ({{ message.nbMsg }})
                </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
    <script>
        var active = document.getElementById('navMsg')
        active.classList.add('activeNav')
    </script>
{% endblock %}